//设置全局样式

// 左侧菜单宽度
$base-menu-side-width: 220px;
//左侧折叠后的宽度
$base-menu-min-side-width: 64px;
// 左侧菜单背景颜色
$base-menu-side-background: #fff;

// 顶部导航高度
$base-menu-header-height: 44px;
//顶部上半部分高度
$base-top-header-height: 44px;
//顶部下半部分高度
$base-bottom-header-height: 32.2px;
// 顶部背景颜色
$base-menu-header-background: #252b48;

// 内容展示区背景颜色
$base-menu-main-background: #eee;

// 左侧Logo高度
$base-menu-logo-height: 60px;
// 左侧Logo文字大小
$base-logo-title-size: 18px;
// 左侧Logo背景
$base-logo-background: #191a23;