<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="open.api.mapper.UserMapper">

    <!--查询昨日新增人数-->
<!--    <select id="queryYesterdayRegisterUsers" resultType="java.lang.Integer">-->
<!--        select count(*) from user where create_time >= DATE_SUB(CURDATE(), INTERVAL 1 DAY)-->
<!--    </select>-->
</mapper>
